<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.org.ridesharingoz.rideshare_oz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FirebaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/firebase_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.mapbox.ACCESS_TOKEN"
            android:value="pk.eyJ1IjoiZGNoaXVjaCIsImEiOiJhYjkyYzc2Nzc2ZTliMDY5Y2QwMjdhMzM3YmY3NWY5ZSJ9.CN9ZUsCX87BF2xlhf3-IsQ" />
        <meta-data
            android:name="com.mapbox.MAP_ID"
            android:value="dchiuch.37762b24" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MarkPinsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".ChooseLocationActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".DisplaySearchResultActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".RegularRideActivity"
            android:label="@string/title_activity_regularride" >
        </activity>
        <activity
            android:name=".OneRideGoingtoActivity"
            android:label="@string/title_activity_one_off_ride" >
        </activity>
        <activity
            android:name=".OneRideLeavingfromActivity"
            android:label="@string/title_activity_one_off_ride" >
        </activity>
        <activity
            android:name=".ActionChoiceActivity"
            android:label="@string/title_activity_actionchoice" >
        </activity>
        <activity
            android:name=".ChooseTypeRideActivity"
            android:label="@string/title_activity_choosetyperide" >
        </activity>
        <activity
            android:name=".JoinGroupActivity"
            android:label="@string/title_activity_joingroup" >
        </activity>
        <activity
            android:name=".RegistrationInfomationActivity"
            android:label="@string/title_activity_personal_detail" >
        </activity>
        <activity
            android:name=".ChooseGroupEventActivity"
            android:label="@string/title_activity_choose_group_event" >
        </activity>
        <activity
            android:name=".JoinedRidesActivity"
            android:label="@string/title_activity_joined_rides" >
        </activity>
        <activity
            android:name=".ManageMyRidesActivity"
            android:label="@string/title_activity_manage_my_rides" >
        </activity>
        <activity
            android:name=".ManageMyGroupsActivity"
            android:label="@string/title_activity_manage_my_groups" >
        </activity>
        <activity
            android:name=".OfferedRidesActivity"
            android:label="@string/title_activity_offered_rides" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".ToRateRidesActivity"
            android:label="@string/title_activity_to_rate_rides" >
        </activity>
        <activity
        android:name=".SearchGoingtoRideActivity"
        android:label="@string/title_activity_search_ride" >
        </activity>
        <activity
            android:name=".SearchLeavingfromActivity"
            android:label="@string/title_activity_search_ride" >
        </activity>
        <activity
            android:name=".CreateAGroupActivity"
            android:label="@string/title_activity_create_a_group" >
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/title_activity_view_profile" >
        </activity>
        <activity
            android:name=".GroupManagementPanelActivity"
            android:label="@string/title_activity_group_management_panel" >
        </activity>
        <activity android:name=".RideSearchResultActivity"
                    android:label="@string/title_activity_searchresult"></activity>
    </application>

</manifest>
